<div class="bg-white shadow-md rounded-md p-4 mt-8">
  <h2 class="text-xl font-bold text-20 mb-4">Solicitudes Rechazadas</h2>

  <table class="min-w-full bg-white">
    <thead>
    <tr>
      <th class="py-2 px-4 bg-gray-200 text-sm">Cédula</th>
      <th class="py-2 px-4 bg-gray-200 text-sm">Nombre y Apellido</th>
      <th class="py-2 px-4 bg-gray-200 text-sm">Correo</th>
      <th class="py-2 px-4 bg-gray-200 text-sm">Teléfono</th>
      <th class="py-2 px-4 bg-gray-200 text-sm">Dirección</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let form of forms" class="text-center border-b">
      <td class="py-2 px-4 text-14">{{ form.dni }}</td>
      <td class="py-2 px-4 text-14">{{ form.name }} {{ form.lastName }}</td>
      <td class="py-2 px-4 text-14">{{ form.email }}</td>
      <td class="py-2 px-4 text-14">{{ form.phoneNumber }}</td>
      <td class="py-2 px-4 text-14">{{ form.address }}</td>
    </tr>
    </tbody>
  </table>
</div>
