/* pet-adoption.component.css */

.timeline-event {
  padding: 1em;
  border-radius: 5px;
  margin-bottom: 1em;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.timeline-event h3 {
  margin-top: 0;
}

.custom-marker {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 1.2rem;
}

.bg-green-200 {
  background-color: #c6f6d5;
}

.bg-yellow-200 {
  background-color: #fefcbf;
}

.bg-red-200 {
  background-color: #feb2b2;
}
