.full-screen-image {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full-screen-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.centered-text {
  z-index: 1;
  text-align: center;
  color: white;
  font-size: 3em; /* Aumenta el tamaño de la fuente */
  font-family: 'Georgia', serif; /* Cambia la fuente a Georgia */
  letter-spacing: 1px; /* Aumenta el espaciado entre las letras */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Agrega una sombra al texto para darle más profundidad */
  margin-bottom: 20px;
}


.custom-menu .p-menuitem-link {
  color: white !important;
  font-size: 20px !important;
}

.custom-menu .p-menuitem-icon {
  color: white !important;
  font-size: 20px !important;
}

.button-aceptar {
  background-color: white;
  color: black; /* Cambia el color del texto a negro para que sea visible en el fondo blanco */
  border: 2px solid white; /* Agrega un borde blanco alrededor del botón */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px; /* Aumenta el tamaño del texto */
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.3s ease-out;
}

.button-aceptar:hover {
  background-color: #ddd;
  color: black; /* Mantiene el color del texto en negro cuando el mouse pasa por encima */
}
