.full-screen-image {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full-screen-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.centered-text {
  z-index: 1;
  text-align: center;
  color: white;
  font-size: 2em;
  margin-bottom: 20px;
}

.transparent-button {
  z-index: 1;
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 25px 50px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.3s ease;

}
.transparent-button {
  z-index: 1;
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 15px 30px; /* Aumenta el padding para hacer el botón más grande */
  font-size: 20px; /* Aumenta el tamaño de la fuente */
  cursor: pointer;
  transition: all 0.3s ease; /* Agrega una transición para suavizar los cambios de estado */
}

.transparent-button:hover {
  background: rgba(255, 255, 255, 0.1); /* Agrega un fondo sutil al pasar el mouse */
}

.centered-text {
  z-index: 1;
  text-align: center;
  color: white;
  font-size: 3em; /* Aumenta el tamaño de la fuente */
  font-family: 'Georgia', serif; /* Cambia la fuente a Georgia */
  letter-spacing: 1px; /* Aumenta el espaciado entre las letras */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Agrega una sombra al texto para darle más profundidad */
  margin-bottom: 20px;
}
