body {
  margin: 0;
  font-family: 'Geomanist', sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  color: #24374e; /* Color para h1 */
  font-weight: bold; /* Negrita para h1 */
  letter-spacing: normal; /* Espaciado normal */
}

h2 {
  color: #24374e; /* Color para h1 */
  font-weight: normal !important;
}

h3 {
  color: #24374e; /* Color para h1 * Color para h2 */
  font-weight: normal !important;
}

/* Estilos del contenedor principal */
.main-container {
  margin: 0 100px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navbar */
.navbar {
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%; /* Estirado de lado a lado */
  z-index: 1000;
}

/* Estilos del logo */
.logo-container h1 {
  margin: 0;
  font-size: 1.5em;
  color: #222F61;
  margin-bottom: 20px; /* Ajusta este valor según necesites */
}

/* Estilos de los enlaces de navegación */
.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1em;
}

/* Estilos de los botones de login y registro */
.button-container {
  display: flex;
  align-items: center;
}

.login-button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #345995;
  color: #fff;
  border: none;
  margin-left: 20px;
  cursor: pointer;
  border-radius: 5px; /* Borde redondeado */
}

/* Estilos para el botón "Regístrate" */
.register-button {
  background-color: #EC4899; /* Color de fondo del botón */
  border-color: #EC4899; /* Color del borde del botón */
  color: white; /* Color del texto del botón */
  padding: 12px 24px; /* Ajusta el padding según sea necesario */
  font-size: 16px; /* Tamaño de fuente */
  border-radius: 0.375rem; /* Ajusta el radio del borde */
  border-width: 1px; /* Ancho del borde */
  text-align: center; /* Alineación del texto */
  transition: background-color 0.3s, border-color 0.3s; /* Transición suave */
  margin-top: 20px; /* Espaciado superior para separación del texto */
}

.register-button:hover {
  background-color: #B22453; /* Color de fondo al pasar el ratón */
  border-color: #B22453; /* Color del borde al pasar el ratón */
}

/* Estilos del contenido principal */
.main-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 100%;
}

/* Estilos del contenido izquierdo */
.left-content {
  flex: 1;
  max-width: 60%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.left-content h1 {
  font-size: 100px;
  color: #24374E;
}

.left-content p {
  font-size: 1.2em;
  color: #666;
}

/* Estilos de la caja de búsqueda */
.search-box {
  margin-top: 20px;
  width: 100%;
  display: flex;
}

.search-box input {
  flex: 1;
  padding: 10px;
  font-size: 1em;
}

.search-box button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #345995;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Estilos del contenido derecho */
.right-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.right-content img {
  width: 90%;
  max-height: 600px;
  margin-top: 83px !important; /* Ajusta el margen superior para que coincida con el texto del left-content */
}

/* Custom Menu Styles */
.custom-menu {
  z-index: 20;
}

