.p-button {
  border-radius: 50%;
}
.rounded-button {
  border-radius: 50%;
}
.p-button-success .pi-check {
  color: white;
}

.p-button-danger .pi-times {
  color: white;
}
.check-button {
  margin-right: 5px;
}

.x-button {
  margin-left: 5px;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-bar {
  align-self: flex-end;
  margin-bottom: 10px;
}
.my-table {
  min-width: 600px;
}
