/* Aplica estilos personalizados al botón de carga de archivos */
.custom-file-upload .p-fileupload-buttonbar .p-button {
    background-color: #FBCFE8; /* Color de fondo del botón (rosa pastel) */
    color: #BE185D; /* Color del texto (rosa oscuro) */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 0.5rem; /* Bordes redondeados */
    transition: background-color 0.3s ease-in-out; /* Transición suave */
  }
  
  .custom-file-upload .p-fileupload-buttonbar .p-button:hover {
    background-color: #F9A8D4; /* Color de fondo del botón al pasar el mouse (rosa más oscuro) */
  }
  
  .custom-file-upload .p-fileupload-buttonbar .p-button:disabled {
    opacity: 0.5; /* Opacidad reducida para botones deshabilitados */
    cursor: not-allowed; /* Cursor no permitido para botones deshabilitados */
  }
  